* {
    margin: 0 !important;
    padding: 0 !important;
}

a{
    text-decoration: none;
}

.side-bar {
    /* width: 30px; */
    color: #C82333;
    background-color: #393E46;
    border: 1px solid #222831;
}

.side-bar>p {
    margin: 5px !important;
}

/* .main {
    width: calc(100% - 30px);
} */

.head {
    height: 35px;
    font-size: 12px;
    background-color: #393E46;
}

.header-right {
    font-size: 10px;
    margin: 2px 20px 0px 0px !important;
}

.header-right>i {
    font-size: 15px;
    margin-top: 5px !important;
}

.content {
    min-height: calc(100vh - 62px);
    color: #EEEEEE;
    background-color: #222831;
}

.content>div {
    min-height: calc(100vh - 62px);
}

.footer {
    height: 27px;
    background-color: #393E46;
    font-size: 10px;
    color: #EEEEEE;
    align-items: center;
    padding-left: 15px !important;
}

.box {
    height: 150px;
    width: 250px;
    align-items: center;
    border: 1px solid #FFD43B;
    padding: 0 15px 0 15px !important;
    justify-content: space-between;
}

.box-right,
.box-left {
    color: #FFD43B;
    font-size: 30px;
}

.home {
    float: right;
    padding: 0 30px 10px 0 !important;
}

.icon {
    font-size: 50px;
    border-right: 1px solid;
    padding-right: 15px !important;
}

.box-content {
    gap: 15px;
}

.rule {
    font-size: 18px;
    color: #EEEEEE;
}